<a href="https://colab.research.google.com/github/chetankhairnar05/Colab/blob/main/NumpyPractice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
l = [1,2,3,4,5]
print(l)
print(type(l))

a = np.array(l)
print(a)
print(type(a))

[1, 2, 3, 4, 5]
<class 'list'>
[1 2 3 4 5]
<class 'numpy.ndarray'>

In [ ]:
b = np.array([[1,2,3,4,5],[5,6,7,8,9]])
print(a.ndim)
print(b.ndim)

1
2

In [ ]:
print(a.size, a.shape , a.dtype,sep = '   ')
print(b.size, b.shape , b.dtype,sep = '   ')

5   (5,)   int64
10   (2, 5)   int64

In [ ]:
c = np.zeros([2,2],dtype = float)

In [ ]:
c

array([[0., 0.],
       [0., 0.]])

In [ ]:
# d = np.ones([2],dtpe = int)# error
d = np.ones(2,dtype = int)

In [ ]:
d

array([1, 1])

In [ ]:
c = np.ones([3, 3])#default dtpe is float

In [ ]:
c

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

In [ ]:
array4 = np.arange(8).reshape(2, 2, 2)
print("\nOriginal array reshaped to 3D : \n",
      array4)

Original array reshaped to 3D :
 [[[0 1]
  [2 3]]

 [[4 5]
  [6 7]]]

In [16]:
a = np.array([1,2,3,4,5])

In [17]:
print (a)
print(a[1])

[1 2 3 4 5]
2

In [18]:
a[1] = 56
a

array([ 1, 56,  3,  4,  5])

In [19]:
b = a[2:4]
b

array([3, 4])

In [22]:
# a[0, 2] => from matrix a find a[0][2] element it is only possible for 2d matrix of numpy not for 1d array so we need to convert 1d array into 2d matrix to use this
# ex1 => convert into 1*find by itself
arr_1d = np.array([1, 2, 3, 4])
row_vector = arr_1d.reshape(1, -1) # -1 infers the dimension
print(row_vector)
    # Accessing elements using matrix notation
print(row_vector[0, 2]) # Accesses the element at row 0, column 2 (value 3)

[[1 2 3 4]]
3

In [23]:
# ex2: convert into find* 1 matrix
a = np.array([1,2,3,4,5])
b = a.reshape(-1,1)
print(b)
print(b[2,0])

[[1]
 [2]
 [3]
 [4]
 [5]]
3

In [25]:
# a = np.array([1,2],[3,4,5]) # this generates error we need to follow matamatical rules
c = np.array(((1.5, 2, 3), (4, 5, 6)))
print(c)

[[1.5 2.  3. ]
 [4.  5.  6. ]]

In [27]:
a = np.array([[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]])
a[2,3] #we have 0 base indexing
print(a[2,3])

12

In [29]:
from posixpath import sep
# array attributes ndim, shape, size, and dtype
print(a.shape , a.size, a.ndim , a.dtype,sep = '   ')

(3, 4)   12   2   int64

In [30]:
np.zeros(2)# by default float

array([0., 0.])

In [32]:
np.ones(4,dtype = int ) #can specify dtype

array([1, 1, 1, 1])

In [34]:
print(np.empty(4)) #function empty creates an array whose initial content is random
print(np.empty(5,dtype= int))

[1. 1. 1. 1.]
[603365402         0 610693632 615013824        48]

In [36]:
print(np.arange(4))# array form
print(np.arange(2,10,2,dtype = float))#from 2 to 9 with difference 2

[0 1 2 3]
[2. 4. 6. 8.]

In [37]:
np.linspace(0, 10, num=5,dtype = int) #from 0 to 10 total 5 numbers int type(int python like  roundoff)

array([ 0,  2,  5,  7, 10])

In [38]:
np.linspace(0, 10, num=5) # by defau;t float dtype

array([ 0. ,  2.5,  5. ,  7.5, 10. ])

In [40]:
print(np.linspace(-10, 0, num=5))
print(np.linspace(-10, 0, num=5,dtype = np.int64)) #np has np.float64 np.int64 etc and may other dtypes as well

[-10.   -7.5  -5.   -2.5   0. ]
[-10  -8  -5  -3   0]

In [41]:
arr = np.array([2, 1, 5, 3, 7, 4, 6, 8])
print(np.sort(arr)) #return sorted nut do not modify
print(arr)

[1 2 3 4 5 6 7 8]
[2 1 5 3 7 4 6 8]

In [44]:
a = np.array([1, 2, 3, 4])
b = np.array([5, 6, 7, 8])
print(np.concatenate((a,b)),a,b,sep = '\n')#use print(np.concatenate((a, b)))  # or [a, b]

[1 2 3 4 5 6 7 8]
[1 2 3 4]
[5 6 7 8]

In [46]:
np.concatenate((a,b),axis = 0)

array([1, 2, 3, 4, 5, 6, 7, 8])

In [47]:
a = [[1,2],[3,4]]
b = [[5,6],[7,8]]
print(np.concatenate((a,b),axis = 0)) # stack verticaly same number of column
print(np.concatenate((a,b),axis = 1))# stack horizontally same number of rows

[[1 2]
 [3 4]
 [5 6]
 [7 8]]
[[1 2 5 6]
 [3 4 7 8]]

In [48]:
# similarly you can make 3d array and then can use ndim , shape , size , dtype

In [52]:
#reshape with a.reshape(a1,b1,c1,.. )or np.reshape(a,  (a1,b1,c1),order='C')
#Yes, if you try to reshape a NumPy array into a shape that doesn't match the total number of elements, it will raise a ValueError.

a = np.arange(6)
print(a)

print()

b = a.reshape(3, 2)
print(b)
print()

print(np.reshape(a, (1, 6), order='C'))# order can be C , A , F default is C

[0 1 2 3 4 5]

[[0 1]
 [2 3]
 [4 5]]

[[0 1 2 3 4 5]]

In [53]:
#you can index and slice NumPy arrays in the same ways you can slice Python lists.

In [54]:
a = np.array([[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]) #2d matrix
print(type(a))
b = a[a>5]
print(b)#1d array
print(type(b))

five_up = (a <= 5)
print(a[five_up])#1d array

<class 'numpy.ndarray'>
[ 6  7  8  9 10 11 12]
<class 'numpy.ndarray'>
[1 2 3 4 5]

In [55]:
divisible_by_2 = a[a%2==0]
print(divisible_by_2)

c = a[(a > 2) & (a < 11)]
print(c)


five_up = (a > 5) | (a == 5) #2d array
print(five_up)

[ 2  4  6  8 10 12]
[ 3  4  5  6  7  8  9 10]
[[False False False False]
 [ True  True  True  True]
 [ True  True  True  True]]

In [56]:
b = np.nonzero(a < 5)
print(b)
#a tuple of arrays was returned: one for each dimension. The first array represents the row indices where these values are found,
# and the second array represents the column indices where the values are found.

(array([0, 0, 0, 0]), array([0, 1, 2, 3]))

In [57]:


a = np.array([0, 2, 0, 4, 5])

indices = np.nonzero(a)
print(indices)       # (array([1, 3, 4]),)
print(a[indices])    # [2 4 5]

(array([1, 3, 4]),)
[2 4 5]

In [58]:
a1 = np.array([[1, 1],
               [2, 2]])

a2 = np.array([[3, 3],
               [4, 4]])

print(np.vstack((a1, a2)),end='\n\n')
print(np.hstack((a1, a2)),end='\n\n')
print(a1,end='\n\n')
print(a2,end='\n\n')

[[1 1]
 [2 2]
 [3 3]
 [4 4]]

[[1 1 3 3]
 [2 2 4 4]]

[[1 1]
 [2 2]]

[[3 3]
 [4 4]]

In [59]:
x = np.arange(1, 25).reshape(2, 12)
x

array([[ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12],
       [13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24]])

In [60]:
# to convert
# [
#  array([[ 1,  2,  3,  4],
#         [13, 14, 15, 16]]),

#  array([[ 5,  6,  7,  8],
#         [17, 18, 19, 20]]),

#  array([[ 9, 10, 11, 12],
#         [21, 22, 23, 24]])
# ]

b = np.hsplit(x, 3)
print(b)

[array([[ 1,  2,  3,  4],
       [13, 14, 15, 16]]), array([[ 5,  6,  7,  8],
       [17, 18, 19, 20]]), array([[ 9, 10, 11, 12],
       [21, 22, 23, 24]])]

In [61]:
c = np.hsplit(x, (3, 4))
print(c)
# [
#  array([[ 1,  2,  3],
#         [13, 14, 15]]),

#  array([[ 4],
#         [16]]),

#  array([[ 5,  6,  7,  8,  9, 10, 11, 12],
#         [17, 18, 19, 20, 21, 22, 23, 24]])
# ]

# Original: [0 1 2 | 3 | 4 5 6 7 8 9 10 11]
# Split at:       â†‘   â†‘
#                3   4

[array([[ 1,  2,  3],
       [13, 14, 15]]), array([[ 4],
       [16]]), array([[ 5,  6,  7,  8,  9, 10, 11, 12],
       [17, 18, 19, 20, 21, 22, 23, 24]])]

In [62]:
# a[start:stop:step] (with ::)
# Example: a[::2] â†’ every 2nd row

# Example: a[:, ::-1] â†’ reverse columns in every row

# | Expression   | Meaning                        | Example (on `a`)                    |
# | ------------ | ------------------------------ | ----------------------------------- |
# | `a[i, :]`    | Row `i`, all columns           | `a[0, :]` â†’ `[1 2 3]`               |
# | `a[:, j]`    | Column `j`, all rows           | `a[:, 2]` â†’ `[3 6 9]`               |
# | `a[i:j, :]`  | Rows `i` to `j-1`, all columns | `a[0:2, :]` â†’ `[[1 2 3],[4 5 6]]`   |
# | `a[:, i:j]`  | Columns `i` to `j-1`, all rows | `a[:, 1:3]` â†’ `[[2 3],[5 6],[8 9]]` |
# | `a[::-1, :]` | Reverse rows                   | `[[7 8 9], [4 5 6], [1 2 3]]`       |
# | `a[:, ::-1]` | Reverse columns                | `[[3 2 1], [6 5 4], [9 8 7]]`       |


# : â†’ everything

# start:stop â†’ from start to stop-1

# ::step â†’ skip every step

# -1 â†’ means reverse in Python

In [63]:
# Arithmetic operations in NumPy work element-wise by default, which makes it very powerful and fast for array and matrix computations.
# a = np.array([1, 2, 3])
# b = np.array([4, 5, 6])

# a + b  â†’ [5, 7, 9]

# a * b  â†’ [4, 10, 18]
# a - b  â†’ [-3, -3, -3]

# a / b  â†’ [0.25, 0.4, 0.5]

# a ** 2  â†’ [1, 4, 9]

# #broadcasting

# a = np.array([1, 2, 3])
# b = 2

# a + b  â†’ [3, 4, 5]   # b is broadcasted

# #dot product
# np.dot(A, B)         # or
# A @ B                # Python 3.5+

# A = np.array([[1, 2], [3, 4]])

# A + 10  â†’ [[11, 12], [13, 14]]
# A * 2   â†’ [[2, 4], [6, 8]]

Hereâ€™s a complete list of **commonly used NumPy statistical functions** for arrays and matrices:

---

## âœ… Basic Statistical Functions

| Function       | Description              | Example        |
| -------------- | ------------------------ | -------------- |
| `np.sum(a)`    | Sum of all elements      | `np.sum(a)`    |
| `np.mean(a)`   | Arithmetic mean          | `np.mean(a)`   |
| `np.median(a)` | Median value             | `np.median(a)` |
| `np.std(a)`    | Standard deviation       | `np.std(a)`    |
| `np.var(a)`    | Variance                 | `np.var(a)`    |
| `np.min(a)`    | Minimum value            | `np.min(a)`    |
| `np.max(a)`    | Maximum value            | `np.max(a)`    |
| `np.ptp(a)`    | Peak to peak (max - min) | `np.ptp(a)`    |
| `np.prod(a)`   | Product of all elements  | `np.prod(a)`   |

---

## âœ… Index-related Functions

| Function       | Description              | Example        |
| -------------- | ------------------------ | -------------- |
| `np.argmin(a)` | Index of minimum element | `np.argmin(a)` |
| `np.argmax(a)` | Index of maximum element | `np.argmax(a)` |

---

## âœ… Percentile & Quantile

| Function              | Description                | Example                |
| --------------------- | -------------------------- | ---------------------- |
| `np.percentile(a, q)` | q-th percentile (0 to 100) | `np.percentile(a, 75)` |
| `np.quantile(a, q)`   | q-th quantile (0 to 1)     | `np.quantile(a, 0.75)` |

---

## âœ… Cumulative Operations

| Function        | Description        | Example         |
| --------------- | ------------------ | --------------- |
| `np.cumsum(a)`  | Cumulative sum     | `np.cumsum(a)`  |
| `np.cumprod(a)` | Cumulative product | `np.cumprod(a)` |

---

## âœ… Weighted Average

| Function                   | Description      | Example                    |
| -------------------------- | ---------------- | -------------------------- |
| `np.average(a, weights=w)` | Weighted average | `np.average(a, weights=w)` |

---

## âœ… Axis-specific Usage

Most functions support the `axis` parameter:

```python
np.sum(a, axis=0)  # column-wise sum
np.mean(a, axis=1) # row-wise average
```

---

### ðŸ§  Example

```python
a = np.array([[1, 2, 3],
              [4, 5, 6]])

np.mean(a)           # 3.5
np.sum(a, axis=0)    # [5, 7, 9]
np.max(a, axis=1)    # [3, 6]
np.median(a)         # 3.5
```

---

### âœ… Yes â€” **Most of the NumPy statistical functions support `axis=0` and `axis=1`**

These arguments control **along which axis** the function is applied:

---

## ðŸ” Meaning of Axis:

| Axis     | Operation Direction           | Use Case               |
| -------- | ----------------------------- | ---------------------- |
| `axis=0` | **Column-wise** (down rows)   | Operate **per column** |
| `axis=1` | **Row-wise** (across columns) | Operate **per row**    |

---

## âœ… Functions That Support `axis`

| Function        | Description                     | `axis=0` âœ… | `axis=1` âœ… |
| --------------- | ------------------------------- | ---------- | ---------- |
| `np.sum`        | Sum                             | âœ”ï¸         | âœ”ï¸         |
| `np.mean`       | Mean                            | âœ”ï¸         | âœ”ï¸         |
| `np.median`     | Median                          | âœ”ï¸         | âœ”ï¸         |
| `np.std`        | Standard deviation              | âœ”ï¸         | âœ”ï¸         |
| `np.var`        | Variance                        | âœ”ï¸         | âœ”ï¸         |
| `np.min`        | Minimum                         | âœ”ï¸         | âœ”ï¸         |
| `np.max`        | Maximum                         | âœ”ï¸         | âœ”ï¸         |
| `np.ptp`        | Peak-to-peak (max - min)        | âœ”ï¸         | âœ”ï¸         |
| `np.prod`       | Product                         | âœ”ï¸         | âœ”ï¸         |
| `np.cumsum`     | Cumulative sum                  | âœ”ï¸         | âœ”ï¸         |
| `np.cumprod`    | Cumulative product              | âœ”ï¸         | âœ”ï¸         |
| `np.percentile` | Percentile (with `axis=` param) | âœ”ï¸         | âœ”ï¸         |
| `np.quantile`   | Quantile (with `axis=` param)   | âœ”ï¸         | âœ”ï¸         |

> ðŸ”¸ `np.argmin` and `np.argmax` also support `axis` â€” they return **indices**.

---

## ðŸ§ª Example

```python
a = np.array([[1, 2, 3],
              [4, 5, 6]])

np.sum(a, axis=0)  # âžœ [5 7 9]   (column-wise)
np.sum(a, axis=1)  # âžœ [6 15]    (row-wise)

np.max(a, axis=1)  # âžœ [3 6]     (max of each row)
np.mean(a, axis=0) # âžœ [2.5 3.5 4.5]
```

---

## ðŸ§  Summary

You can use `axis=0` or `axis=1` in **almost all statistical functions** in NumPy to compute row-wise or column-wise results.

Let me know if you want a diagram or visual cheat-sheet.

In [64]:
b = np.array([[1, 1], [2, 2]])
print(b.sum())
print(b.sum(axis = 0))
print(b.sum(axis = 1))

6
[3 3]
[2 4]

![image.png]()

In [65]:
data = np.array([[1, 2], [3, 4], [5, 6]])
ones_row = np.array([[1, 1]])
data + ones_row

array([[2, 3],
       [4, 5],
       [6, 7]])

In [67]:
from numpy.random import default_rng
rng = default_rng()

print(rng.integers(1, 10, size=5))     # [2 5 9 3 6]
print(rng.random(3))                   # [0.44 0.82 0.12]
print(rng.choice([1, 2, 3], size=2))   # [2 1]
rng = default_rng(42)
print(rng.integers(0, 100, 3))  # Always same output for same seed
print(rng.integers(0, 100, 3))
print(rng.integers(0, 100, 3))

[5 2 5 4 9]
[0.41241496 0.68034682 0.47067879]
[3 3]
[ 8 77 65]
[43 43 85]
[ 8 69 20]

In [70]:
#extract unique items
a = np.array([11, 11, 12, 13, 14, 15, 16, 17, 12, 13, 11, 14, 18, 19, 20]).reshape(3,5)
print(a) #2d array

uni = np.unique(a)#1d array of unique values of a
print(uni)

[[11 11 12 13 14]
 [15 16 17 12 13]
 [11 14 18 19 20]]
[11 12 13 14 15 16 17 18 19 20]

In [74]:
unique_values, indices_list = np.unique(a, return_index=True)
print(indices_list)
print(unique_values)

print()

print(a.flatten()[indices_list])  # âœ… correct way to access

[ 0  2  3  4  5  6  7 12 13 14]
[11 12 13 14 15 16 17 18 19 20]

[11 12 13 14 15 16 17 18 19 20]

In [76]:
unique_values, occurrence_count = np.unique(a, return_counts=True)
print(unique_values)
print(occurrence_count)

[11 12 13 14 15 16 17 18 19 20]
[3 2 2 2 1 1 1 1 1 1]

In [77]:
a_2d = np.array([[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12], [1, 2, 3, 4]])
unique_rows = np.unique(a_2d, axis=0)
print(unique_rows)

unique_rows, indices, occurrence_count = np.unique(
     a_2d, axis=0, return_counts=True, return_index=True)
print(unique_rows) #print all unique rows
print(indices)#print indices of unique rows
print(occurrence_count)#counto of occurence of unique rows

[[ 1  2  3  4]
 [ 5  6  7  8]
 [ 9 10 11 12]]
[[ 1  2  3  4]
 [ 5  6  7  8]
 [ 9 10 11 12]]
[0 1 2]
[2 1 1]

In [78]:
arr = np.arange(6).reshape((2, 3))
arr.transpose()
# arr.T #both are same

array([[0, 3],
       [1, 4],
       [2, 5]])